.form-control{
    padding: 0;
    border-radius: 0;
    border: none;
}
.table>:not(caption)>*>* {
    padding: 0;
}
table {
    table-layout: fixed; 
    width: 100%;
    border: 1px solid #ddd;
    border-collapse: collapse;
}
th, td {
    border: 1px solid #ddd;
    padding: 0px;
    text-align: center;
    margin: 0;
}
th:first-child, td:first-child, th:nth-child(2), td:nth-child(2) {
    width: 30px; 
    position: -webkit-sticky; 
    position: sticky;
    left: 0;
    background-color: #fff; 
    z-index: 2;
}
th:nth-child(2), td:nth-child(2){
    width: 200px;
}

th:nth-child(n+3), td:nth-child(n+3) {
    max-width: 200px;
    width: 100px;
}

.table-responsive {
    max-height: 400px;
    overflow-y: auto;
    overflow-x: auto; 
}
input {
    width: 100%;
    text-align: center;
    border: none;
    background-color: transparent;
    font-size: 16px;
}